---
layout: tempEventLayout
title: Events
---
{% include events.html %}
<br>
<ul>
    {% assign curr_date = site.time %}
    
    {% assign sorted = site.data.events.demoday | sort: 'date'%}
   
        
    {% for events in sorted %}
        {% if curr_date < events.expires %}
            <a href="#events{{ forloop.index }}">
                <div class="event {{ events.title }}">
                    <h1>{{ events.title }}</h1>
                    <div class="align">
                        <ul>
                            <li>{{ events.url }}</li>
                            <li>Not Expired</li>
                            <li>{{ events.date }}</li>
                        </ul>
                    </div>
                    <div class="align right">
                        <ul>
                            <li>{{ events.location }}</li>
                            <li>{{ events.description }}</li>
                        </ul>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
    {% for events in sorted %}
        {% if curr_date > events.expires %}
            <a href="#events{{ forloop.index }}">
                <div class="event over {{ events.title }}">
                    <h1>{{ events.title }}</h1>
                    <div class="align">
                        <ul>
                            <li>{{ events.url }}</li>
                            <li>Expired</li>
                            <li>{{ events.date }}</li>
                        </ul>
                    </div>
                    <div class="align right">
                        <ul>
                            <li>{{ events.location }}</li>
                            <li>{{ events.description }}</li>
                        </ul>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
</ul>