<header class="mainNav">

  <a class="logo" href="index.html">DTI Labs</a>

  <input id="nav" type="checkbox">
  <label for="nav"></label>

  <nav class="mainMenu">
    <ul>
      <li id="navButton" ><a  href="Labs">Labs</a></li>
      <li id="navButton" class="resDrop"><a href="ResHard">Resources</a>
        <div class="Drop">
          <div class="ResDropCont">
            <ul>
              <li><a href="Mentors">Mentors</a></li>
              <li><a href="BesPra">Best practices</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li id="navButton" class="eventsDrop"><a href="Events1">Events</a>
        <div class="Drop">
          <div class="EventsDropCont">
            <ul>
              <li><a href="Calendar">Calendar</a></li>
              <li><a href="LabHack">LabHacks</a></li>
              <li><a href="Demos">Demos</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li id="navButton" ><a href="LocCon">Contacts</a></li>
      <li id="navButton" ><a href="Advisory">Advisory Board</a></li>
      <li id="navButton" ><a href="Regulations">Regulations</a></li>
      <li id="navButton" ><a href="Stat">Statute</a></li>
    </ul>
  </nav>

</header>
