---
---


.eventsNav .logo {
  float: left;
    margin-left:7%;
    margin-top:2px;
  font-weight: bold;
  font-size: 1.5em;
}

.eventsMenu {
  float: right;
    margin-right:5%;
    margin-top:12px;
  max-height: 0;
  width: 100%;
  -webkit-transition: max-height 0.3s;
          transition: max-height 0.3s;
}

.eventsMenu ul {
  margin: 0 0 0 0;
  padding: 20px;
   padding-bottom: 5px;
}

.eventsMenu li {
  display: block;
  text-align: center;
}

.eventsMenu a {
  padding: 10px;
  width: 100%;
}

.eventsMenu a:visited {
  background: grey;
}

.Drop ul {
  padding-bottom:
}

.Drop a {
  font-size: 12px;
  color: rgba(0,0,0,0.6)
}

#nav { display: none; }

#nav:checked ~ .mainMenu {
  max-height: 500px; /* This can be anything bigger than your .mainNav height. The transition duration works with this */
}

@media only screen and (min-width: 700px) {

  .mainNav label { display: none; }

  .eventsMenu {
    width: auto;
    max-height: none;
  }

  .eventsMenu ul {
    padding: 0 20px;
    /padding-right: 10px;
  }

  .eventsMenu li {
    display: inline-block;
    text-align: left;
  }

  .eventsMenu .eventsMenu a {
    display: inline-block;
    padding: 20px 10px;
    width: auto;
  }

  .eventsMenu .eventsMenu a:hover {
    padding: 9px 10px 19px 10px;
    margin: 10px 0 0 0;
    border-top: 1px solid lightgrey;
  }

  .ResDropCont {
    display:none;
    position: relative;
  }

  .resDrop:hover .ResDropCont {
    display:block;
    position:absolute;
    z-index: 5;
    background: white;
    width: inherit;
  }

  .Drop {
    width: auto;
    padding: 0;
    margin: 0px 0 0 -100%;
  }

  .EventsDropCont {
    display:none;
    position: relative;
  }

  .eventsDrop:hover .EventsDropCont {
    display:block;
    position:absolute;
    z-index: 5;
    background: white;
    width: inherit;
  }

  .eventsDrop .Drop {
    width: auto;
    padding: 0;
    margin: 0px 0 0 -180%;
  }

}

@media only screen and (min-width: 700px) {
}


